@import url('../css/common.css');

* {
  font-family: 'Roboto', sans-serif;
}

html {
  overflow: hidden;
}

body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 53px;
  color: #a5a6a8;
  background-color: #2f99f1;
  overflow: hidden;
  touch-action: none;
}

header .progress {
  height: 4px;
  background-color: #202a3b;
  border-radius: 0;
}

header .progress-bar {
  background-color: #1286d7;
}

header .navbar {
  color: #a89f9f;
  font-size: 12px;
  font-weight: bold;
}

header .navbar i {
  font-size: 15px;
}

header .navbar i:first-child {
  color: #6fb7fa;
}

header .navbar .name {
  font-size: 14px;
}

.premium-nick {
  -webkit-animation: premium-nick 1s ease-in-out infinite alternate;
  -moz-animation: premium-nick 1s ease-in-out infinite alternate;
  animation: premium-nick 1s ease-in-out infinite alternate;
}

@keyframes premium-nick {
  from {
    text-shadow: 0 0 2px #4d1c75, 0 0 2px #4d1c75, 0 0 2px#4d1c75,
      0 0 2px #4d1c75, 0 0 2px#4d1c75, 0 0 2px #4d1c75;
  }
  to {
    text-shadow: 0 0 2px #232a8f, 0 0 2px #232a8f, 0 0 2px #232a8f,
      0 0 2px #232a8f, 0 0 2px #232a8f, 0 0 2px #232a8f;
  }
}

header .navbar .user-bar {
  width: 80px;
  height: 23px;
  background-color: #191c20;
  border-radius: 5px;
}

header .navbar .user-bar .progress-bar {
  background-color: transparent;
  color: #a89f9f;
}

.grayscale {
  filter: grayscale(100%);
}

@media screen and (max-width: 576px) {
  header .navbar .progress {
    width: 74px;
  }
  header .navbar .w-65px {
    width: 65px;
  }
}

.add-gem {
  background-image: url('../images/icons/plus.png');
  background-size: contain;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.main-home {
  background-image: url('../images/background/home.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 1312px;
  height: 800px;
  margin: 0 auto;
}

main {
  height: calc(var(--vh, 1vh) * 100 - 108px);
  overflow-y: auto;
}

.draggable {
  touch-action: none;
  cursor: default !important;
  transform: translate(0px, 0px);
}

.tooltip {
  opacity: 1 !important;
  --bs-tooltip-max-width: 252px;
}

.tooltip-arrow:before {
  border-bottom-color: #30353a !important;
}

.tooltip-inner {
  background-color: #30353a;
  border-bottom: 3px solid #4d98d6;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 13px;
}

.tooltip-custom {
  color: #a5a6a8;
  font-weight: 500;
}

.tooltip-custom small {
  font-size: 11px;
}

.tooltip-custom span {
  font-size: 12px;
}

.tooltip-custom .container {
  background-color: rgba(61, 67, 73, 0.6);
  border-radius: 6px;
}

footer .navbar {
  background-color: #202429 !important;
  min-height: 54px;
  overflow: hidden;
  padding: 0;
}

footer .navbar > div > div {
  flex: 0 0 20%;
}

footer .navbar span {
  font-size: 10px;
  font-weight: 700;
  color: #a6a7a9;
  text-align: center;
}

.chapter-map {
  background-image: url('../images/footer/chapter.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 44px;
}

.max-w-icon {
  width: 58px;
}

.m-t-n-icon {
  margin-top: -10px;
}

.crew-map {
  background-image: url('../images/footer/crew.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 44px;
}

.home-map {
  background-image: url('../images/footer/home.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 44px;
}

.inventory {
  background-image: url('../images/footer/inventory.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 44px;
}

.bag {
  background-image: url('../images/footer/menu.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 44px;
}

footer .navbar [id] {
  cursor: pointer;
  padding-top: 3px;
}

footer .navbar .active {
  background-color: #2e3439;
}

footer .navbar [id] > div > span {
  padding: 4px !important;
  margin-top: 5px;
}

.news-feed-box {
  width: 100%;
  height: 24px;
  position: absolute;
  z-index: 1080;
  text-align: center;
  top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  pointer-events: none;
}

.news-feed {
  width: 540px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  pointer-events: all;
}

.news-feed marquee {
  width: calc(100% - 26px);
}

.news-feed img {
  right: -6px;
  position: absolute;
  z-index: 5;
}

.color-yellow {
  color: #f6cd41;
}

.color-yellow-2 {
  color: #e6bc30;
}

.color-red {
  color: #da4453;
}

.color-red-2 {
  color: #e65b54;
}

.color-red-3 {
  color: #da4453;
}

.color-blue-2 {
  color: #658fd6;
}

.color-blue-3 {
  color: #6fb7fa;
}

.color-orange {
  color: #f4a835;
}

.color-green {
  color: #42a674;
}

.color-green-3 {
  color: #9de06d;
}

.bonus-box {
  width: 100%;
  height: 23px;
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.bonus {
  width: 150px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.bonus .progress {
  width: 20px;
  height: 2px;
  outline: 1px solid #4d494d;
  background: #797979;
  border-radius: 0;
}

.bonus .progress .progress-bar {
  background: #cda720;
  box-shadow: inset 0 3px 0 -1px #f3cf50, inset 0 -3px 0 -2px #4d494d,
    inset 3px 0 0 -2px #4d494d, inset -3px 0 0 -2px #4d494d;
}

main [id] .badge {
  background-color: rgba(36, 36, 36, 0.9) !important;
  color: white;
  font-size: 11px;
  height: 20px;
  display: flex;
  align-items: center;
  z-index: 1;
}

main [id] .badge > span {
  padding: 4px !important;
}

.home-menu01-bg {
  position: absolute;
  width: 175px;
  height: 145px;
  margin-top: 164px;
  left: 60px;
  cursor: pointer;
}

.home-shop-bg {
  position: absolute;
  width: 168px;
  height: 160px;
  margin-top: 65px;
  left: 368px;
  cursor: pointer;
}

.home-menu03-bg {
  position: absolute;
  width: 56px;
  height: 67px;
  margin-top: 296px;
  left: 469px;
  cursor: pointer;
}

.home-menu04-bg {
  position: absolute;
  width: 218px;
  height: 150px;
  margin-top: 392px;
  left: 191px;
  cursor: pointer;
}

.home-menu05-bg {
  position: absolute;
  width: 196px;
  height: 92px;
  margin-top: 595px;
  left: 365px;
  cursor: pointer;
}

.home-menu06-bg {
  position: absolute;
  width: 171px;
  height: 146px;
  margin-top: 162px;
  left: 655px;
  cursor: pointer;
}

.home-menu07-bg {
  position: absolute;
  width: 177px;
  height: 147px;
  margin-top: 475px;
  left: 615px;
  cursor: pointer;
}

.home-menu08-bg {
  position: absolute;
  width: 255px;
  height: 213px;
  margin-top: 571px;
  left: 800px;
  cursor: pointer;
}

.home-menu09-bg {
  position: absolute;
  width: 377px;
  height: 122px;
  margin-top: 40px;
  left: 741px;
  cursor: pointer;
}

.home-menu10-bg {
  position: absolute;
  width: 181px;
  height: 133px;
  margin-top: 153px;
  left: 1058px;
  cursor: pointer;
}

.home-menu10-bg img {
  position: absolute;
}

.reverse {
  transform: scaleX(-1);
}

.chest-afk {
  cursor: pointer;
  background-image: url('../images/menu/reward_bg.png');
  background-size: cover;
  width: 250px;
  height: 250px;
  position: fixed;
  margin: auto auto;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 2;
}

.spin {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-faster {
  animation-name: spin-faster;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin-faster {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chest-afk-icon {
  background-image: url('../images/icons/chest_afk.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  position: fixed;
  width: 91px;
  height: 65px;
  margin: auto auto;
  bottom: 120px;
  left: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
}

.home-npc-1 {
  width: 100px;
  height: 83px;
  position: absolute;
  margin-top: 230px;
  left: 320px;
  cursor: pointer;
}

.home-npc-1 img:not(.quest) {
  position: absolute;
  top: 0;
}

.home-npc-1 .quest {
  position: absolute;
  margin: auto auto;
  top: 5px;
  left: -8px;
}

.home-user-character {
  position: absolute;
  margin-top: 290px;
  left: 145px;
  width: 75px;
  height: 77px;
}

.home-user-character img {
  position: absolute;
  top: 0;
}

.home-user-character .progress {
  width: 40px;
  height: 8px;
  border-radius: 0;
}

.hp {
  background: #d34549;
  box-shadow: inset 0 3px 0 -1px #d3aa9a, inset 0 -3px 0 -2px #4d494d,
    inset 3px 0 0 -2px #4d494d, inset -3px 0 0 -2px #4d494d;
}

.mp {
  background: #5599f3;
  box-shadow: inset 0 3px 0 -1px #bbd6e6, inset 0 -3px 0 -2px #4d494d,
    inset 3px 0 0 -2px #4d494d, inset -3px 0 0 -2px #4d494d;
}

#userLogged {
  cursor: pointer;
}

.float-menu {
  position: fixed;
  top: 64px;
  z-index: 2;
}

.float-menu-left:nth-of-type(2) {
  margin-left: 65px;
}

.float-menu-left:nth-of-type(3) {
  margin-left: 130px;
}

.float-menu-left {
  width: 60px;
  position: fixed;
  top: 64px;
  left: 5px;
  z-index: 2;
}

.float-menu-right {
  position: fixed;
  top: 64px;
  right: 5px;
  z-index: 2;
}

.float-menu-left .text,
.float-menu-right .text {
  font-size: 13px;
  color: white;
  font-weight: 600;
  text-shadow: -1px 0 #202429, 0 1px #202429, 1px 0 #202429, 0 -1px #202429;
  text-align: center;
  line-height: 11px;
  width: 60px;
}

.float-menu-left span,
.float-menu-right span {
  padding: 4px !important;
  top: 5px !important;
}

.float-menu-left [id],
.float-menu-right [id] {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 60px;
}

.float-menu-left [id]:hover > div:first-child,
.float-menu-right [id]:hover > div:first-child {
  transform: scale(1.1);
}

.float-menu-hunt {
  background-image: url('../images/menu/menu.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.float-menu-task {
  background-image: url('../images/menu/menu.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.float-menu-rewards {
  background-image: url('../images/menu/menu.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.float-menu-shop {
  background-image: url('../images/menu/menu.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.float-menu-wheel {
  background-image: url('../images/menu/menu.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.float-menu-rank {
  background-image: url('../images/menu/menu.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.float-menu-challenge {
  background-image: url('../images/menu/menu.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.float-menu-events {
  background-image: url('../images/menu/menu.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.float-menu-news {
  background-image: url('../images/menu/menu.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.float-menu-help {
  background-image: url('../images/menu/menu.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.float-menu-walkthrough {
  background-image: url('../images/menu/menu.png');
  background-size: contain;
  width: 50px;
  height: 50px;
}

.float-menu-hide {
  position: absolute;
  top: 273px;
  left: 38px;
  width: 52px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  z-index: 3;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
}

.float-menu-show {
  position: absolute;
  top: 60px;
  left: 38px;
  width: 52px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  z-index: 3;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
}

.float-menu-show span {
  padding: 4px;
}

.quest-toggle {
  top: 321px;
  left: 6px;
  position: fixed;
  width: 25px;
  height: 48px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  cursor: pointer;
  font-weight: 900;
  font-size: 25px;
}

@media screen and (max-width: 330px) {
  .w-65px {
    display: none !important;
  }
}

.quest-box {
  top: 373px;
  left: 6px;
  width: 157px;
  height: auto;
  max-height: 130px;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
}

.quest-text {
  width: 150px;
  min-height: 45px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 3px;
  line-height: 13px;
  word-wrap: break-word;
  font-size: 11px;
  color: white;
}

.left-menu-bar {
  background: #202429;
  position: fixed;
  width: 30px;
  height: 57px;
  bottom: 90px;
  cursor: pointer;
  font-weight: 900;
  font-size: 25px;
  border-radius: 0 5px 5px 0;
}

.left-menu-bar span {
  padding: 4px;
}

.left-menu-expanded-bar {
  background: #202429;
  position: fixed;
  width: 325px;
  height: 57px;
  bottom: 90px;
  border-radius: 0 5px 5px 0;
  padding: 5px;
}

.left-menu-expanded-bar i {
  font-weight: 900;
  font-size: 25px;
}

.left-menu-expanded-bar #leftMenuBarHide {
  height: 45px;
}

.left-menu-expanded-bar .text {
  color: #a5a6a8;
  font-weight: 600;
  font-size: 10px;
  width: 40px;
  text-align: center;
  line-height: 10px;
}

.left-menu-expanded-bar > div {
  border-left: 1px solid #24282e;
  border-right: 1px solid #1d2125;
  cursor: pointer;
}

.left-menu-expanded-bar [id]:hover > div:first-child {
  transform: scale(1.1);
}

.left-menu-expanded-bar [id] span {
  padding: 4px;
}

.float-left-menu-01 {
  background-image: url('../images/left-menu/menu.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

.float-left-menu-02 {
  background-image: url('../images/left-menu/menu.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

.float-left-menu-03 {
  background-image: url('../images/left-menu/menu.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

.float-left-menu-04 {
  background-image: url('../images/left-menu/menu.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

.float-left-menu-05 {
  background-image: url('../images/left-menu/menu.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

.float-left-menu-06 {
  background-image: url('../images/left-menu/menu.png');
  background-size: contain;
  width: 40px;
  height: 40px;
}

.sidebar-chat-toggle {
  position: absolute;
  right: 10px;
  bottom: 128px;
  width: 35px;
  height: 35px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  cursor: pointer;
  font-size: 26px;
  padding: 20px;
}

.sidebar-chat-toggle span {
  padding: 4px;
}

.internet-wrapper {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1090;
  overflow: hidden;
  display: none;
}

.failed-internet {
  background-color: #da4453;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 55px;
  font-size: 13px;
}

.success-internet {
  background-color: #8cc152;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 55px;
  font-size: 13px;
}

.option-language {
  background-image: url('../images/icons/settings/option_language.png');
  background-size: contain;
  width: 32px;
  height: 32px;
}

.form-select {
  border: solid 1px grey;
  background-color: #24282c;
  font-size: 13px;
  color: #a5a6a8;
  border-radius: 10px;
  text-align: center;
  background-image: none;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.form-select:focus {
  border-color: gray;
}

.option-sound {
  background-image: url('../images/icons/settings/option_sound.png');
  background-size: contain;
  width: 32px;
  height: 32px;
}

.form-switch {
  transform: scale(1.8);
}

.form-check-input {
  background-color: #1a1a1d;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%233C3C48'/%3e%3c/svg%3e") !important;
}

.form-check-input:focus:not(:checked) {
  border-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%233C3C48'/%3e%3c/svg%3e") !important;
}

.form-check-input:checked {
  border-color: transparent;
  background-color: #4d91c9 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%231977b6'/%3e%3c/svg%3e") !important;
}

.vip-icon {
  position: absolute;
  bottom: 0px;
  right: -10px;
  background-image: url('../images/icons/vip.png');
  background-size: contain;
  width: 30px;
  height: 20px;
  text-align: center;
  color: white;
  font-size: 10px;
  line-height: 17px;
}

.slide-in {
  animation: slide-in 3s ease-in-out infinite;
  left: 0;
  bottom: 0;
}

@keyframes slide-in {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.navbar .h1 {
  font-size: 18px;
  font-weight: bold;
  color: #a5a6a8;
}

.navbar-dialog {
  background-color: rgba(39, 78, 120, 0.2) !important;
  margin-bottom: 10px;
}

[data-page='crew'],
[data-page='inventory'] {
  background-color: #2a2f34;
}

[data-page='shop'] {
  background-color: #2a2f34;
  height: calc(94vh);
}

.characters {
  background-color: #24292d;
  border-radius: 6px;
  min-height: calc(var(--vh, 1vh) * 100 - 181px);
  margin-bottom: 15px;
}

.characters h6 {
  font-size: 13px;
  text-align: center;
  font-weight: 700;
}

.separate-column {
  background-clip: padding-box;
  border: 10px solid transparent;
}

.item-character-card {
  background-color: rgba(142, 144, 146, 0.2) !important;
  width: 93px;
}

.separate-column .rarity {
  font-size: 10px;
  font-weight: 600;
}

.item-character-card-detail {
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  width: 93px;
}

.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-card {
  background-color: rgba(142, 144, 146, 0.2) !important;
  width: 107px;
}

.item-card-detail {
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  width: 107px;
}

.shop-items img:first-child {
  object-fit: cover;
  object-position: left bottom;
}

.shop-items .item {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  background-color: rgba(142, 144, 146, 0.2);
}

.shop-items .item i {
  font-size: 10px;
  top: 2px !important;
  left: 2px !important;
}

.shop-items .btn-success {
  padding: 0px 2px 0px 2px;
  margin: auto;
}

.item-border {
  border-bottom: 1px solid rgba(52, 56, 61, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
}

.custom-nav .nav {
  border-bottom: none;
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.9rem;
}

.custom-nav .nav-link {
  font-size: 13px;
  color: #a5a6a8;
  border-radius: 0;
  font-weight: 700;
  border: none;
}

.custom-nav .nav-tabs li {
  width: 25%;
  background-color: #202429;
  display: flex;
  justify-content: center;
}

.custom-nav .nav-tabs li:first-child button,
.custom-nav .nav-tabs li:first-child {
  border-radius: 6px 0px 0px 0px;
}

.custom-nav .nav-tabs li:last-child button,
.custom-nav .nav-tabs li:last-child {
  border-radius: 0px 6px 0px 0px;
}

.custom-nav .nav-link.active {
  background-color: rgb(36, 41, 45);
  color: #a5a6a8;
}

.custom-nav .tab-content {
  font-size: 12px;
  font-weight: 500;
  background-color: rgb(36, 41, 45);
}

.floating {
  animation-name: floating;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 3px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.chapter {
  background-image: url('../images/background/chapter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

.chapter div div div:nth-child(odd) {
  display: flex;
  justify-content: start;
}

.chapter div div div:nth-child(even) {
  display: flex;
  justify-content: end;
}

.chapter .card {
  background-color: rgba(247, 245, 245, 0.9);
  color: #505a62;
  padding: 5px;
  text-align: center;
  font-size: 11px;
  line-height: 5px;
  font-weight: 600;
  border: none;
}

.chapter .card-title {
  font-size: 11px;
  margin-bottom: 3px;
}

.chapter .card-body {
  padding: 0;
}

.world-scroll {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 114px);
  overflow-y: auto;
  overflow-x: hidden;
}
